.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 382px;
    padding: 62px 8px 16px;
    z-index: 5;
}

.headerFont {
  font-size: var(--largerer-title); 
  font-weight: var(--font-weight-bold);
  margin: 0px;
}