.all {
    margin-bottom: 24px;
}
.all p, .all h3 {
    margin: 0;
}

.active {
    background-color: var(--med-green);
    color: var(--bright-af);
}
.active:hover {
    background-color: var(--med-green-85);
}

.inactive {
    background-color: var(--light-green-85);
}
.inactive:hover{
    background-color: var(--light-green);
}

.tags {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.active, .inactive {
    padding: 16px;
    border-radius: 16px;
    width: 366px;
    height: 104px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.timeBlock {
    text-align: center;
    padding: 8px;
    border-radius: 16px;
}

.footer {
    margin-top: 8px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-flow: row;
    gap: 4px;
}