.all {
    margin-bottom: 32px;
}

.active {
    background-color: var(--med-green);
    color: var(--bright-af);
}

.inactive {
    background-color: var(--bright-green);
}

.tags {
    display: flex;
    flex-flow: row;
    margin-top: 32px;
    flex-wrap: wrap;
}

.active, .inactive {
    padding: 16px;
    border-radius: 16px;
    width: 366px;
}

.active h3, .active p, .inactive h3, .inactive p {
    margin: 0;
}

.top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.timeBlock {
    text-align: center;
    padding: 8px;
    border-radius: 16px;
}

.footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-flow: row;
    gap: 4px;
}