.quizBackground{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.rectangle{
    width: 131px; /*147-16 (for padding)*/
    height: 132px; /*148-16*/
    padding: 16px;
    background-color: var(--med-green-20);
    color: var(--dark-green);
    border-radius: 16px;
    z-index: 1;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
    display: flex;
    align-items: center;
}
.ellipse{
    shape-outside: ellipse(54px 54px);
    padding: 8px;
    width: 40px;
    background-color: var(--bright-green);
    border-radius: 9999px;
    text-align: center;
    font-size: 32px;
    color: var(--bright-af);
    font-weight: var(--font-weight-bold);
    z-index: 2;
    position: relative;
    top: 16px;
}

.quizBackground:hover .ellipse{
    background-color: var(--dark-green-85);
}

/* .question:hover {
    background-color: darkgray;
} */
