.quizBackground{
    display: flex;
    flex-flow: column;
    align-items: center;
    filter: drop-shadow(2px 2px 16px var(--drop-shadow-2-2-16));
    width: fit-content;
}
.rectangle{
    width: 131px; /*147-16 (for padding)*/
    height: 132px; /*148-16*/
    padding: 8px;
    background-color: var(--bright-af);
    color: var(--dark-green);
    border-radius: 16px;
    z-index: 1;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
.ellipse{
    padding: 8px;
    width: 40px;
    background-color: var(--bright-green);
    border-radius: 9999px;
    text-align: center;
    font-size: 32px;
    color: var(--bright-af);
    font-weight: var(--font-weight-bold);
    z-index: 2;
    position: relative;
    top: 25px;
}

.quizBackground:hover .ellipse{
    background-color: var(--med-green);
}

/* .question:hover {
    background-color: darkgray;
} */
