.fullCard {
  position: relative;
  width: 191px;
  height: 148px;
  border-radius: 16px;
  background-color: var(--med-green);
  filter: drop-shadow(var(--drop-shadow-2-2-16));
}

.overCard {
  position: relative;
  margin-right: 207px;
  width: 191px;
  height: 119px;
  border-radius: 16px 16px 0 16px;
  background-color: var(--bright-af);
}

.subjectTitle {
  font-weight: var(--font-weight-bold); 
  color: var(--bright-af);
  margin: 4px 0 0 12px;
  width: 169px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
