.main {
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 16px;
    width: 398px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

.bgImage {
    position: absolute;
    width: 430px;
    height: 932px;
    z-index: 1;
    overflow: hidden;
}

.bgTopo {
    position: absolute;
    transform: translate(-18%, -2%);
}

.topRectangle {
    position: relative;
    right: 16px;
    top: -117px;
}

.headerText {
    position: relative;
    bottom: 250px;
    margin: 0;
}

.headerContainer {
    height: 100px;
}

.introTitle {
    /* position: relative; */
    font-size: var(--large-title);
    color: var(--bright-af);
    font-family: var(--rajdhani);
    margin: 0;
    margin-left: 30px;
    width: 366px;
    top: -10px;
}

.title {
    /* position: relative; */
    font-size: var(--logo);
    color: var(--bright-af);
    top: -68px;
    margin: 0;
    margin-left: 30px;
}

.sittingGuy{
    position: relative;
    left:167px;
    top: 100px;
    z-index: 3;
}

.description1 {
    /* position: relative; */
    /* bottom: 300px; */
    height: 200px;
}

.description1Container {
    position: relative;
    bottom: 180px;
    z-index: 3;
    margin-top: 60px;

}

.descriptionBox1 {
    font-size: var(--headline);
    /* position: relative; */
    margin-left: 15px;
    height: 64px;
    border-radius: 16px;
    background-color: var(--bright-af);
    padding: 16px 16px;
    text-align: center;
    filter: drop-shadow(var(--drop-shadow-2-2-16));
    z-index: 4;
}


.descriptionBox2 {
    font-size: var(--headline);
    /* position: relative; */
    margin-left: 15px;
    width: 337.10px;
    height: 64px;
    border-radius: 16px;
    background-color: var(--bright-af);
    padding: 16px 16px;
    text-align: center;
    filter: drop-shadow(var(--drop-shadow-2-2-16));
    top: -290px;
    z-index: 4;

}

.headerShape {
    position: relative;
    left: -17px;
    top: -10px;
    z-index: 2;
}

.headerTitle {
    /* position: relative; */
    font-size: var(--largerer-title);
    font-weight: bold;
    color: var(--bright-af);
    z-index: 2;
    margin-bottom: 0px;

}

.headerShape2 {
    /* position: relative; */
    rotate: 180deg;
    left: 175px;
    top: -110px;
}

.headerTitle2 {
    /* position: relative; */
    font-size: var(--largerer-title);
    font-weight: bold;
    color: var(--bright-af);
    top: -260px;
    left: 210px;

}

.resources {
    background-color: var(--bright-af);
    border-radius: 16px;
    padding: 16px;
    padding-top: 8px;
}