.main {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 16px;
  width: 398px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 2;
}

.bgImage {
  position: absolute;
  width: 430px;
  height: 932px;
  z-index: 1;
  overflow: hidden;
}

.bgTopo {
  position: absolute;
  transform: translate(-32%, 0);
}

.searchBar{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: var(--bright-af);
  border-radius: 16px;
  margin-bottom: 20px;
  filter: drop-shadow(var(--drop-shadow-2-2-16));
}

.filterSection {
  display: flex;
  flex-flow: row;
  gap: 8px;
  width: 432px;
}

.filterSectionScroll {
  position: relative;
  left: -16px;
  padding: 0 16px;
  display: flex;
  flex-flow: row;
  gap: 8px;
  width: 100%;
  overflow-x: scroll;
  filter: drop-shadow(var(--drop-shadow-2-2-16));
  cursor: grab;
}

.filterSectionScroll:active {
  cursor: grabbing;
}

.filterSectionScroll::-webkit-scrollbar {
  display: none;
}

.subjectSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}