.main {
    padding: 0 16px;
    overflow-x: scroll;
    z-index: 2;
}

.top {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    height: 160px;
    padding: 0px 16px;
    padding-top: 16px;
    background-color: var(--bright-af);
    filter: drop-shadow(var(--drop-shadow-4-8-32));
    margin-bottom: 32px;
}

.studyMethods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 398px;
    gap: 16px;
    margin-bottom: 32px;
    scrollbar-width: none;
}

.bgImage {
    position: absolute;
    width: 430px;
    height: 932px;
    z-index: 1;
    overflow: hidden;
}

.bgTopo {
position: absolute;
transform: translate(0, 5%);
}

.main::-webkit-scrollbar {
    display: none;
}

.resources {
    background-color: var(--bright-af);
    border-radius: 16px;
    padding: 16px;
    padding-top: 8px;
}