.tab, .currentTab {
    min-width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currentTab {
    background-color: lightblue;
}
.tab {
    background-color: beige;
}
.icon {
    width: 32px;
    height: 32px;
}
.container {
    width: 430px;
    height: 88px;
}