.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 24px;
    width: 430px;
    height: 57px;
    padding: 0 0 31px 0;
    /* background-color: var(--bright-af-80);
    backdrop-filter: blur(8px); */
}