.tab {
    min-width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 50px;
    height: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: 430px;
    height: 88px;
    background-color: var(--bright-af);
}