.main {
    border: none;
    border-radius: 24px;
    font-weight: var(--font-weight-bold);
    font-size: var(--size-body);
    color: var(--bright-af);
    filter: drop-shadow(var(--drop-shadow-2-2-16));
}