.node {
    background-color: var(--bright-af-75);
    width: 94px;
    height: 8px;
    border-radius: 8px;
}

.progressBar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 8px;
}