.container {
    min-width: 136px;
    height: 152px;
    background-color: var(--light-green);
    font-weight: var(--font-weight-bold);
    font-size: var(--body);
    color: var(--bright-af);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-bottom: 8px;
    border-radius: 16px;
    filter: drop-shadow(var(--drop-shadow-2-2-16));

}

.container p {
    margin: 0;
}

.container:hover {
    background-color: var(--med-green-85);
    color: var(--bright-af);


}