.container {
    height: 548px;
    width: 366px;
    padding-top: 32px;
    padding: 16px;
    background-color: var(--bright-af);
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 8px;
}

.overlay {
    position: absolute;
    top: 128px;
    z-index: 10;
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 932px;
    background-color: #00000080;
    z-index: 9;
}

.formBlock {
    margin: 8px 0;
}

.formLabel {
    font-weight: bold;
    font-size: var(--title-2)
}

.titleInput, .descriptionInput, .timeInput, .dateInput, .radioButtons, .locationSelect, .tagsInput {
    margin: 8px 0;
}

.titleInput {
    min-height: none;
    font-size: var(--title-3);
    background-color: #eee;
    border-radius: 16px;
    padding: 16px;
    width: 334px;
    border: none;
}

.descriptionInput {
    border: none;
    min-height: 48px;
    background-color: #eee;
    border-radius: 16px;
    padding: 16px;
    width: 334px;
    resize: none;
    font-family: "Inter", sans-serif;
}

.titleInput:focus, .descriptionInput:focus {
    outline: none;
}

.tagInput {
    padding: 4px 12px;
    background-color: #eee;
    font-size: var(--caption-1);
    border-radius: 16px;
    border: none;
}

.addCustom {
    padding: 4px 12px;
    background-color: var(--bright-green);
    font-size: var(--caption-1);
    border-radius: 16px;
    border: none;
}

.addCustom:hover {
    background-color: var(--med-green-85);
    color: white;
}

.timeInput, .dateInput {
    border: none;
    width: 40%;
    padding: 16px;
    background-color: #eee;
    border-radius: 16px;
}

.timeInput:hover, .dateInput:hover {
    background-color: var(--med-green);
    color: white;
}

.timeInput:focus, .dateInput:focus {
    outline: none;
}

.radioButtons {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin-top: 8px;
    justify-content: space-around;
}

/* .radioButton input, .radioButtonChecked input {
    display: none;
} */

.radioButton {
    background-color: #eee;
    padding: 16px;
    width: 10%;
    border-radius: 8px;
    text-align: center;
}

.radioButtonChecked {
    background-color: var(--med-green);
    padding: 16px;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 10%;
}

.radioButton:hover {
    background-color: var(--med-green-85);
    color: white;
}

.radioButtonChecked:hover {
    background-color: var(--light-green);
    color:white;
}

.locationSelect {
    border: none;
    border-radius: 16px;
    padding: 16px 12px;
    background-color: #eee;
    width: 100%;
    font-size: var(--body);
    font-family: "Inter", sans-serif;
}

.locationSelect:hover {
    background-color: var(--med-green);
    color: white;
}