:root {
  /****TYPE****/
  --logo: 64px;
  --large-title: 28px;
  --largerer-title: 32px;
  --title-1: 24px;
  --title-2: 20px;
  --title-3: 18px;
  --headline: 17px;
  --body: 16px;
  --sub-body: 15px;
  --footnote: 14px;
  --caption-1: 12px;
  --caption-2: 11px;

  --font-weight-regular: 400;
  --font-weight-semibold: 550;
  --font-weight-bold: 700;

  --rajdhani: "Rajdhani", sans-serif;

  /****GREEN****/
  --dark-green: #234422;
  --dark-green-85: #234422D9; /* 85% opacity */
  --med-green: #60935D;
  --med-green-85: #60935DD9; /* 85% opacity */
  --med-green-75: #60935D; /* 75% opacity */
  --med-green-20: #60935D33; /* 20% opacity */
  --med-green-10: #60935D1A; /* 10% opacity */
  
  --light-green: #86B084;
  --light-green-85: #86B084D9; /* 85% opacity */
  
  --bright-green: #B6D1B5;
  
  --bright-af: #FDFFFD;
  --bright-af-80: #FDFFFDCC; /* 80% opacity */
  --bright-af-75: #FDFFFDBC; /* 75% opacity */
  --bright-af-45: #FDFFF76E; /* 45% opacity */
  --bright-af-15: #FDFFE6; /* 15% opacity */
  
  /****BLUE****/
  --dark-blue: #1C4947;
  --bold-blue: #305B59;
  
  --med-blue: #3B6F6C;
  --med-blue-85: #3B6F6CD9; /* 85% opacity */
  --med-blue-35: #3B6F6C59; /* 35% opacity */
  
  --light-blue: #618F8E;
  --light-blue-85: #618F8ED9; /* 85% opacity */
  --bright-blue: #87B1AF;
  
  --blue-bg-gradient: linear-gradient(
      180deg, 
      rgba(93, 147, 141, 0.25) 0%, 
      rgba(93, 147, 141, 0) 20%, 
      rgba(93, 147, 141, 0) 45%, 
      rgba(93,147,142,0.25) 100%
      );
  
  /****RED***/
  --dark-red: #782D2F;
  --bold-red: #944F51;
  --med-red: #B47274;
  --light-red: #D7A1A2;
  --bright-red: #FDDADB;
  
  /****"BLACK"****/
  --black-text: #2E384D; /*it's blue!!*/
  --black-sub: #8C9CB0;
  
  /****"WHITE"****/
  --white-bg: #EBF1F4;
  --white-bg-85: #EBF1F4D9; /* 85% opacity */
  
  --white-shaded: #DFE9DF; /*literally green*/
  --white-shaded-85: #DFE9DFD9; /* 85% opacity */

  /****"DROP-SHADOW"****/
  --drop-shadow-2-2-16: 2px 2px 8px #2E384D59;
  --drop-shadow-4-8-32: 4px 8px 32px #2E384D59;
  --drop-shadow-4-80-32: 4px -68px 32px #2E384D59;

  /****"BACKDROP-BLUR"****/
  --backdrop-blur: blur(8px)
}
h1, h2, h3 {
  font-weight: var(--font-weight-bold);
}
h4, h5 {
  font-weight: var(--font-weight-regular);
}
h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: var(--large-title);
}
h2 {
  font-size: var(--title-1);
}
h3 {
  font-size: var(--title-2);
}
h4 {
  font-size: var(--title-3);
}
h5 {
  font-size: var(--headline);
}

p {
  font-size: var(--body);
}

.caption1 {
  font-size: var(--caption-1)
}

.overlaybg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  height: 932px;
  background-color: #00000080;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #333;
  margin: 0;
  color: var(--dark-green);
}

.frame {
  background: var(--blue-bg-gradient), var(--white-bg);
  width: 430px;
  height: 932px;
  margin: auto;
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  align-items: center;
  overflow: hidden;
}