:root {
  --size-body: 16pt;
  --weight-regular: 400;
  --weight-bold: 700;
}
h1, h2, h3, h4 {font-weight: var(--bold);}
h1 {
  font-size: 28pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 18pt;
}
p {
  font-size: 16pt;
}

.frame {
  background-color: #eee;
  width: 430px;
  height: 932px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: sans-serif;
  background-color: #333;
  margin: 0;
}