.main {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0 16px;
    width: 398px;
    z-index: 2;
}

.main::-webkit-scrollbar {
    display: none;
}

.bgImage {
    position: absolute;
    width: 430px;
    height: 932px;
    z-index: 1;
    overflow: hidden;
}

.bgTopo {
    position: absolute;
    transform: translate(-21%, 10%);
}

.groupsHeader {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 24px 24px 0 0;
    width: 430px;
    height: 75px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--bright-af);
    top: 770px;
    z-index: 3;
}

.snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 0 0 16px;
    height: 64px;
    width: 338px;
    padding: 0 32px;
    position: absolute;
    left: 26px;
    right: 0;
    top: 696px;
    margin: auto;
    background-color: var(--bright-af);
    filter: drop-shadow(var(--drop-shadow-2-2-16));
    border: 2px solid var(--med-green-85);
    border-right: none;
    font-weight: var(--font-weight-bold);
    color: var(--dark-green);
}