.main {
  display: flex;
  flex-flow: column;
  overflow: scroll;
  padding: 0 16px;
  width: 398px;
<<<<<<< HEAD
=======
  scrollbar-width: none;
  -ms-overflow-style: none;
>>>>>>> c5ef1f89f9ba23fb9b8d3b373a7452bf8e2feec1
}

.main:-webkit-scrollbar {
  display: none;
}

.homeWelcomeSection {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 8px 0 8px;
}

.welcomeMessage {
  display: flex;
  flex-flow: column;
}

.welcomeMessage p {
  margin: 0;
}

.filterSection {
  display: flex;
  flex-flow: row;
}