.main {
  display: flex;
  flex-flow: column;
  overflow: scroll;
  padding: 0 16px;
  width: 398px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.homeWelcomeSection {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 8px 0 8px;
}

.welcomeMessage {
  display: flex;
  flex-flow: column;
}

.welcomeMessage p {
  margin: 0;
}

.filterSection {
  display: flex;
  flex-flow: row;
  gap: 8px;
}

.bgImage {
  position: absolute;
  width: 430px;
  height: 932px;
  z-index: 0;
  overflow: hidden;
}

.bgTopo {
  position: absolute;
  transform: translate(-18%, -2%);
}