.main {
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.profileSection {
    background-color: var(--bright-af);
    width: 398px;
    padding: 0 16px;
    border-radius: 0 0 0 24px;
    z-index: 1;
}

.navbarButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 24px 24px 0 0;
    width: 430px;
    height: 75px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--bright-af);
    gap: 8px;
    top: 770px;
    z-index: 3;
}

.profileTags {
    display: flex;
    flex-flow: row;
    margin: 16px 0;
}

.bgImage {
    position: absolute;
    width: 430px;
    height: 932px;
    z-index: 0;
    overflow: hidden;
}
