.main {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 32px;
    background-image: url("/images/graphic.topo2.svg");
}

.quizHeader{
    width: 219px;
    height: 70px;
    position: relative;
    right: 16px;
    background: var(--med-green-85);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    filter: drop-shadow(4px 8px 32px var(--dark-green));
    z-index: 2;
    margin-top: 45px;
}

.headerText{
    color: var(--bright-af);
    position: relative;
    margin-left: 32px;
}

.ellipseBackground{
    position: absolute;
}

.questionName{
    z-index: 1;
    position: relative;
    width: 344px;
    color: var(--dark-blue);
}
.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 406px;
    width: fit-content;
    margin: auto;
    gap: 0 28px;
    /* margin-left: 16px; */
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    z-index: 5;
}

.bottom {
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-top: auto;
}

.content {
    height: 406px;
}

.buttonOverride {
    border: none;
}

.buttonOverride:hover {
    background-color: none;
}

.topContainer {
    padding: 0 16px;
}