.main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    padding: 32px;
    background-image: url("/images/topography6.svg");
    background-position: -100% 20%;
}

.quizHeader{
    width: 219px;
    height: 70px;
    position: relative;
    background: var(--med-green-85);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    filter: drop-shadow(4px 8px 32px var(--dark-green));
    margin-left: -15px;
    margin-top: 45px;
    margin-bottom: -8px;
    z-index: 2;
}

.headerText{
    color: var(--bright-af);
    position: relative;
    margin-left: 32px;
}

.quizBackground{
    position: absolute;
}

.questionName{
    z-index: 1;
    position: relative;
    margin-top: -40px;
    margin-bottom: -60px;
    width: 344px;
    margin-left: 18px;
    color: var(--dark-blue);
}
.questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
    margin-right: 25px;
    height: 406px;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    z-index: 5;
    min-height: 51px;
}

.bottom {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.content {
    height: 406px;
}