.top {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.studyMethods {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    width: 398px;
    gap: 8px;
}

.top{
    padding: 16px;
    background-color: var(--bright-af);
    filter: drop-shadow(var(--drop-shadow-4-8-32));

}

.studyMethods::-webkit-scrollbar {
    display: none;
}

.main {
    padding: 0 16px;
}