.menu {
    z-index: 8;
    width: 338px;
    height: 932px;
    background-color: var(--bright-af);
    z-index: 2;
}

.all {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 932px;
    z-index: 5;
}

.background {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
    top: 0;
    z-index: -1;
}

.top {
    background-color: var(--med-green);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 224px;
}

.body {
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.button {
    width: 133px;
    height: 144px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #F6FEF6;
    border-radius: 16px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--deep-blue);
    filter: drop-shadow(var(--drop-shadow-2-2-16));
}